---
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import { Separator } from '@/components/ui/separator';
import { Home } from 'lucide-react';
import BlogCta from './blog/blog-cta';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class='py-12 md:py-24 pt-8 md:pt-12'>
  <div class='container'>
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink aria-label='Início' href='/'>
            <Home className='h-4 w-4' />
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href='/blog'>Blog</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{title}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <h1 class='mt-6 mb-6 font-bold text-4xl xl:text-5xl'>{title}</h1>
    <Separator className='mt-6 mb-12' />
    <div class='prose dark:prose-invert max-w-none'>
      <slot />
    </div>
    <BlogCta />
  </div>
</section>
